server:
  port: 8090

runs-locally: ${RUNS_LOCALLY:true}

env: ${test_environment:local}
test.url: http://localhost:8090

case:
  orchestration:
    service:
      base:
        uri: '#{environment["TEST_URL"].replaceFirst("https://", "http://")}'

spring:
  main:
    allow-bean-definition-overriding: true

idam:
  s2s-auth:
    url: ${SERVICE_AUTH_PROVIDER_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:XXXXXXXX}
    microservice: fis_bulk_scan_api

postcodelookup:
  api:
    url: https://api.os.uk/search/places/v1
    key: ${POST_CODE_LOOKUP_KEY:REPLACE_ME}
