uk:
  gov:
    hmcts:
      dependency:
        fieldGroupDependency:
          C100:
            - groupExemptionToAttend:
              dependentFields:
                - noMIAM_domesticViolance
                - noMIAM_childProtectionConcerns
                - noMIAM_Urgency
                - noMIAM_PreviousAttendence
                - noMIAM_otherReasons
              dependentFieldValue: "True"
              groupFieldName: exemption_to_attend_MIAM
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "2b - Applicant claiming exemption from the requirement to attend a MIAM"
            - NoMIAM_domesticViolence:
              dependentFields:
                - noMIAM_DVE_arrestedForSimilarOffence
                - noMIAM_DVE_relevantPoliceCaution
                - noMIAM_DVE_relevantCriminalProceeding
                - noMIAM_DVE_relevantConviction
                - noMIAM_DVE_courtOrder
                - noMIAM_DVE_protectionNotice
                - noMIAM_DVE_protectiveInjunction
                - noMIAM_DVE_noCrossUndertakingGiven
                - noMIAM_DVE_copyOfFactFinding
                - noMIAM_DVE_expertEvidenceReport
                - noMIAM_DVE_healthProfessionalReport
                - noMIAM_DVE_ReferralHealthProfessionalReport
                - noMIAM_DVE_memberOf_MultiAgencyRiskAssessmentConferrance_letter
                - noMIAM_DVE_domesticViolenceAdvisor
                - noMIAM_DVE_independentSexualViolenceAdvisor_Letter
                - noMIAM_DVE_officerEmployed_localAuthority_letter
                - noMIAM_DVE_domesticViolenceSupportCharity_letter
                - noMIAM_DVE_domesticViolenceSupportCharity_refuge_letter
                - noMIAM_DVE_publicAuthority_confirmationLetter
                - noMIAM_DVE_secretaryOfState_letter
                - noMIAM_DVE_evidenceFinancialMatters
              dependentFieldValue: "True"
              groupFieldName: noMIAM_domesticViolance
              groupValidationValue: "True"
              requiredFieldCount: 1
              sectionName: "3a - Domestic violence evidence"
            - groupNoMIAMChildProtectionConcerns:
              dependentFields:
                - noMIAM_subjectOfEnquiries_byLocalAuthority
                - noMIAM_subjectOfCPP_byLocalAuthority
              dependentFieldValue: "Yes"
              groupFieldName: NoMIAM_childProtectionConcerns
              groupValidationValue: "True"
              requiredFieldCount: 1
              sectionName: "3b - Child protection concerns"
            - groupNoMIAMUrgency:
              dependentFields:
                - noMIAM_urgency_risk_to_life_liberty_or_safety
                - noMIAM_urgency_riskOfHarm
                - noMIAM_urgency_removalFromUnitedKingdom
                - noMIAM_urgency_risk_to_miscarriageOfJustice
                - noMIAM_urgency_financialHardship
                - noMIAM_urgency_irretrievableProblem
                - noMIAM_urgency_conflictWithOtherStateCourts
              dependentFieldValue: "Yes"
              groupFieldName: NoMIAM_Urgency
              groupValidationValue: "True"
              requiredFieldCount: 1
              sectionName: "3c - Urgency"
            - groupNoMIAMPreviousAttendence:
              dependentFields:
                - NoMIAM_PreviousAttendenceReason
              dependentFieldValue: "Yes"
              groupFieldName: NoMIAM_PreviousAttendence
              groupValidationValue: "True"
              requiredFieldCount: 1
              sectionName: "3d - Previous MIAM attendance or MIAM exemption"
            - groupNoMIAMOtherReasons:
              dependentFields:
                - NoMIAM_otherExceptions
              dependentFieldValue: "Yes"
              groupFieldName: NoMIAM_otherReasons
              groupValidationValue: "True"
              requiredFieldCount: 1
              sectionName: "3e - Other exemptions"
            - groupInternationalFactorsAffectingLitigationCheckbox:
              dependentFields:
                - internationalElement_Resident_of_another_state
                - internationalElement_jurisdictionIssue
                - internationalElement_request_toCentral_or_Consular_authority
                - factorAffectingLitigationCapacity
                - assessmentByAdultLearningTeam
                - factorsAffectingPersonInCourt
              dependentFieldValue: "*"
              groupFieldName: international_or_factorsAffectingLitigation
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "8 - Cases with an international element; 9 - Factors affecting ability to participate in proceedings"
            - groupWelshRequired:
              dependentFields:
                - nameOfPartyWhoNeedsWelsh
              dependentFieldValue: "*"
              groupFieldName: applicantRequiresWelsh
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "Welsh Required"
            - groupInterpreterRequired:
              dependentFields:
                - applicantRequiresInterpreter_otherParty_dialect
              dependentFieldValue: "*"
              groupFieldName: applicantRequiresInterpreter
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "Interpreter Required"
            - groupIntermediaryRequired:
              dependentFields:
                - applicantRequiresInterpreter_intermediaryRequired_details
              dependentFieldValue: "*"
              groupFieldName: applicantRequiresInterpreter_intermediaryRequired
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "Intermediary Required"
            - groupSpecialArrangementsRequired:
              dependentFields:
                - requiredSpecialAssistanceOrFacilities_details
                - requiredSpecialArrangementDetails
              dependentFieldValue: "*"
              groupFieldName: requiredSpecialAssistanceOrFacilities
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "Special Arrangements Required"
            - groupMediatorCertifiesMIAMExemption:
              dependentFields:
                - mediationNotSuitable_NoneOfTheRespondentsWillingToAttendMIAM
                - mediationNotSuitable_NoneOfTheRespondentsFailedToAttendMIAMWithoutGoodReason
                - mediationNotSuitable_forResolvingTheDispute
              dependentFieldValue: "true"
              groupFieldName: familyMember_Intimation_on_No_MIAM
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "4a - Mediator Certifies MIAM Exemption"
            - groupMediatorCertifiesAttendedMIAM:
              dependentFields:
                - applicantOnlyAttended
                - attendedMIAMTogether
                - applicantAndRespondentParty_AttendedMIAMSeparately
                - respondentPartyArranged_ToAttendMIAMSeparately
              dependentFieldValue: "true"
              groupFieldName: attended_MIAM
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "4b - Mediator Certifies Attended MIAM"
            - groupMediatorCertifiesDisputeResolutionNotProceeding:
              dependentFields:
                - mediationNotProceeding_applicationAttendedMIAMAlone
                - mediationNotProceeding_applicantsAndRespondentsAttendedMIAM
                - mediationNotProceeding_hasStartedButBrokenWithSomeIssue
              dependentFieldValue: "true"
              groupFieldName: attended_MIAM
              groupValidationValue: "Yes"
              requiredFieldCount: 1
              sectionName: "4b - Mediator Certifies Dispute Resolution not proceeding"
            - groupMediatorCertifiesMIAMTable:
              dependentFields:
                - fmcRegistrationNumber
                - familyMediationServiceName
                - soleTraderName
                - authorizedFamilyMediator_address
                - authorizedFamilyMediator_date
              dependentFieldValue: "*"
              groupFieldName: attended_MIAM
              groupValidationValue: "Yes"
              requiredFieldCount: 5
              sectionName: "4b - Mediator Certifies Mediation borken/unresolved"
